* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --bg-gradient: linear-gradient(
    287deg,
    hsl(199, 88%, 87%) 0%,
    hsl(217, 100%, 62%) 100%
  );
  --txt-color: hsl(238, 27%, 28%);
  --bg-input: hsl(212, 23%, 89%);
  --bg-button: hsl(217, 100%, 62%);
  --white: hsl(0, 0%, 100%);
  --bg-alert: hsla(0, 83%, 50%, 0.932);
}
body {
  font-size: 1.6rem;
  background: var(--bg-gradient);
  background-size: 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  width: min(43rem, 90%);
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  background-color: var(--white);
  border-radius: 0.6rem;
  margin-top: -12rem;
}
h1 {
  color: var(--txt-color);
  font-size: 2.4rem;
  font-weight: 600;
}
p {
  margin-top: 1.6rem;
  color: var(--txt-color);
  line-height: 150%;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
}
input {
  border-radius: 0.6rem 0 0 0.6rem;
  border: none;
  outline: none;
  background-color: var(--bg-input);
  padding: 1.6rem;
  width: 4.8rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
button {
  border-radius: 0 0.6rem 0.6rem 0;
  border: none;
  background-color: var(--bg-button);
  color: var(--white);
  font-weight: bold;
  padding: 1.6rem;
  cursor: pointer;
}
.page-02 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-02 button {
  border-radius: 0.6rem;
  margin-top: 3.2rem;
  width: 16rem;
}
.page-02 h2 {
  font-weight: 400;
}
span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--bg-alert);
  color: var(--bg-input);
  animation: appear 1s;
}
@keyframes appear {
  0% {
    transform: translateY(-3rem);
  }
}
.hide {
  display: none;
}
